.container {
  background-color: aliceblue;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-rows: 90%;
  position: absolute;
}

.containerCard {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(120, 14, 250, 0.3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45% 5%;
  width: 50%;
  height: 90%;
  border: 3px solid #000;
  position: relative;
  top: 10%;
  left:26%;
  padding: 10px ;
}

.flag {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 3px solid #000;
  width: 90%;
  height: 80%;
  position: relative;
  top: 3%;
  left: 2%;
}

.details {
  border: 3px solid black;
  display: grid;
  grid-column:2 ; 
  grid-row: 2 / -4;
  padding: 10px;
}

.maps{
  background-color: blue;
}

.buttonX {
  display: grid;
  grid-column: 1;
  grid-row: -2;
}


