.landingContainer {
  background-image: url(https://icdn.ensonhaber.com/crop/1200x675/resimler/diger/kok/2023/06/23/dunyanin-yuzolcumu-en-buyuk-ulkeleri-hangileri-turkiye-kacinc_58ab0287.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.customHeading {
  position: absolute;
  margin-top: 10px;
  font-size: 2.5em;
  color: #000000;
}

.buttonContainer {
  margin-top: 105px;
  color: 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
