.container {
  background-image: url(https://img.freepik.com/fotos-premium/mapas-antiguos-objetos-nauticos-antiguos_411285-7483.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  max-height: 650px;
  overflow-y: auto;
  transform: translate(3%, 2%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(235, 190, 30, 0.3);
  border: solid 3px black;
}

.buttonBack {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(235, 190, 30, 0.5);
  border-radius: 35%;
  position: relative;
  right: 150px;
  bottom: 98px;
}

.h1 {
  position: relative;
  bottom: 20px;
}

.inputSelect {
  position: relative;
  left: 900px;
  bottom: 194px;
}
