.container {
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #000;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.card {
  height: 320px;
  width: 220px;
  border: 3px solid #000;
  border: solid 3px black;
  border-radius: 10px;
  background-color: rgba(235, 190, 30, 0.3);
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.buttonBack {
  position: relative;
  right: 150px;
  bottom: 97px;
  border-radius: 8px;
  border: 3px solid #000;
  padding: 8px;
  background-color: rgba(235, 190, 30, 0.5);
}

.h1 {
  position: relative;
}

.inputSelect {
  position: relative;
  bottom: 10px;
}

.buttonClosed {
  margin: 0;
  align-self: self-end;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: crimson;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
}

.textCard {
  margin: 0;
}
